@model Medical.ViewModels.CDoctorDetailViewModel

@{
    ViewData["Title"] = "EditDetail";
}

<h1>修改詳細資料</h1>


<hr />
@using (Html.BeginForm("EditDetail", "AdminDoctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditDetail">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="DoctorID" value="@Model.DoctorID">
                <input type="hidden" name="MemberID" value="@Model.MemberID">
                <input type="hidden" name="DepartmentID" value="@Model.DepartmentID">
                <input type="hidden" name="DeptCategoryID" value="@Model.DeptCategoryID">
                <input type="hidden" name="ExperienceID" value="@Model.ExperienceID">
                <div class="form-group">
                    <label asp-for="DoctorName" class="control-label"></label>
                    <input asp-for="DoctorName" class="form-control" id="dcn" />
                    <span asp-validation-for="DoctorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Education" class="control-label"></label>
                    <input asp-for="Education" class="form-control" id="edu" />
                    <span asp-validation-for="Education" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobTitle" class="control-label"></label>
                    <input asp-for="JobTitle" class="form-control" id="job" />
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                </div>
                <img width="100" height="100" src="~/images/@Html.DisplayFor(modelItem => Model.PicturePath)" />"
                <div class="form-group">
                    @Html.Label("產品照片", "", new { @class = "control-label col-md-2" })
                    <div class="col-md-offset-2 col-md-10">
                        <input type="file" name="photo" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Experience" class="control-label"></label>
                    <input asp-for="Experience" class="form-control" id="exp" />
                    <span asp-validation-for="Experience" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepName" class="control-label"></label>
                    <input asp-for="DepName" class="form-control" id="dpn" />
                    <span asp-validation-for="DepName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeptCategoryName" class="control-label"></label>
                    <input asp-for="DeptCategoryName" class="form-control" id="dpc" />
                    <span asp-validation-for="DeptCategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" onclick="return confirm('你要確ㄟ?')" />
                </div>
                <div><input type="button" id="btnDmo" value="D鍵" /></div>
            </form>
        </div>
    </div>
}
    <div>
        <a asp-action="Index">回到醫生主頁</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $('#btnDmo').click(() => {
        document.getElementById("dcn").value = "高壹陞";
        document.getElementById("edu").value = "博士";
        document.getElementById("job").value = "台北諾貝爾眼科 副院長";
        document.getElementById("exp").value = "臺大醫院眼科主治醫生";
        document.getElementById("dpn").value = "青光眼科";
        document.getElementById("dpc").value = "眼科";
    })
</script>
    }
