@model IEnumerable<Medical.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>醫生主頁(後台)</h1>
@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    <input type="submit" value="查詢" />
}

<p>
    <a asp-action="CreateDetail">新增醫生資料</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Education)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        <img width="100" height="100" src="~/images/@Html.DisplayFor(modelItem => item.PicturePath)" />"
                        <br>
                        @Html.DisplayFor(modelItem => item.DoctorName)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Education)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobTitle)
                    </td>

                    <td>
                        @Html.ActionLink("修改資料", "EditDetail", new { id = item.DoctorId },new {@class="btn btn-primary" }) 
                        @Html.ActionLink("顯示資料", "Details", new { id = item.DoctorId },new{ @class = "btn btn-success" }) 
                        @Html.ActionLink("刪除", "Delete", new { id = item.DoctorId }, new { onclick = "return confirm('確定刪除?')" , @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
