@model IEnumerable<Medical.ViewModel.AArticleViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h3 class="display-3 text-white animated zoomIn">衛教文章</h3>
        </div>
    </div>
</div>
<!-- Hero End -->

@*========查詢按鍵============*@
<div class="input-group" style="display:block; text-align:center;margin-block:50px">
    @Html.TextBox("txtKeyword", "", new { @class = "font-weight-bold", style = "font-size:26px;border-radius:15px;", @placeholder = "search..." })
        <button type="submit" class="btn btn-lg btn-default">
            <i class="fa fa-search">查詢</i>
        </button>
</div>


@*===一行3個圖文======*@

<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card h-100">
            @*===文章圖片===*@
            <img src="~/img/carousel-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                @*===文章標題===*@
                <a>
                    <i class="card-title" style="font-size: 30px; font-weight: bold;">Card title</i>
                </a>
                @*===日期===*@
                <a style="float: right; text-align: right;">
                    <i class="fa fa-calendar">2022/07/12 </i>
                </a>
                @*===文章內容===*@
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            @*===文章連結===*@
            <div class="card-input" style="margin-left:10px;margin-block:10px">
                <input type="button" href="......" class="btn btn-outline-primary" value="Read more..." />
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100">
            @*===文章圖片===*@
            <img src="~/img/carousel-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                @*===文章標題===*@
                <a>
                    <i class="card-title" style="font-size: 30px; font-weight: bold;">Card title</i>
                </a>
                @*===日期===*@
                <a style="float: right; text-align: right;">
                    <i class="fa fa-calendar">2022/07/12 </i>
                </a>
                @*===文章內容===*@
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            @*===文章連結===*@
            <div class="card-input" style="margin-left:10px;margin-block:10px">
                <input type="button" href="......" class="btn btn-outline-primary" value="Read more..." />
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100">
            @*===文章圖片===*@
            <img src="~/img/carousel-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                @*===文章標題===*@
                <a>
                    <i class="card-title" style="font-size: 30px; font-weight: bold;">Card title</i>
                </a>
                @*===日期===*@
                <a style="float: right; text-align: right;">
                    <i class="fa fa-calendar">2022/07/12 </i>
                </a>
                @*===文章內容===*@
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            @*===文章連結===*@
            <div class="card-input" style="margin-left:10px;margin-block:10px">
                <input type="button" href="......" class="btn btn-outline-primary" value="Read more..." />
            </div>
        </div>
    </div>
</div>



@*@{
        int count = 0;
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">篇名</h3>
            </div>

            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                <thead>
                                    <tr>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">序</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">發佈日期</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">醫生</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">疾病</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">文章內容</th>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr class="odd">
                                            <td class="dtr-control sorting_1 font-weight-bold" tabindex="0" style="width:5%">@count</td>
                                            <td style="width:10%" class="font-weight-bold">@Html.DisplayFor(modelItem => item.CreateDate)</td>
                                            <td style="width:10%" class="font-weight-bold">@Html.DisplayFor(modelItem => item.Doctor.DoctorName)</td>
                                            <td style="width:15%" class="font-weight-bold">@Html.DisplayFor(modelItem => item.Articeltitle)</td>
                                            <td style="width:50%" class="font-weight-bold">@Html.DisplayFor(modelItem => item.ArticleContent)</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }*@
