@model IEnumerable<Medical.ViewModel.CShoppingCartItem>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid" style="width: 100%; max-width: 1024px; margin: auto; margin-bottom: 30px;">

    <ul class="breadcrumb" style="background-color: white; font-size: 16px; margin-top: 30px;">
        <li class="breadcrumb-item"><a href="~/Product/ProductList">首頁</a></li>
        <li class="breadcrumb-item"><a href="~/Product/ProductList">產品列表</a></li>
        <li class="breadcrumb-item"><a href="~/Product/CartViewList">我的購物車</a></li>
        <li class="breadcrumb-item"><a href="~/Product/CheckViewList">結帳</a></li>
    </ul>

    <div class="card" style="width: 100%;">
        <div class="card-header">1.確認訂單</div>
        <div class="card-body">
            <hr>
            <table class="table" style="width: 100%; text-align: center;">
                <thead>
                    <tr>
                        <th>圖示</th>
                        <th>產品名稱</th>
                        <th>數量</th>
                        <th>單價</th>
                        <th>總價</th>
                    </tr>
                </thead>
                <tbody>

                    @{int pay = 0;
                        //decimal tax = 0;
                        foreach (var item in Model)
                        {
                            pay += item.小計;
                            <tr>
                                <td><img src="~/images/@item.prodspec.ProductImage" height="160" width="140" alt=""></td>
                                <td align='center' valign="middle">@item.prod.ProductName</td>
                                <td align='center' valign="middle">@item.cart.ProductAmount</td>
                                <td align='center' valign="middle">@item.prodspec.UnitPrice.ToString("C0")</td>
                                <td align='center' valign="middle">@item.小計.ToString("C0")</td>
                            </tr>

                        }
                    }

                </tbody>
            </table>
            <hr>
        </div>
        <div class="card-footer" style="display: flex; flex-direction: row-reverse; align-items: center;">

            <p>
                <span>訂單總金額:</span>&nbsp;<span style="font-size: 24px; font-weight: bold; color: rgb(195, 50, 50);">@(pay.ToString("C0"))</span>
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select name="" id="">
                <option value="">請選擇優惠券</option>
            </select>
        </div>
    </div>

    <br><br>
    <!-- ============================================2================================================ -->


    <div class="card" style="width: 100%;">
        <div class="card-header">2.取貨方式</div>
        <div class="card-body">
            <span>收件人 : &nbsp;</span> <input type="text" value="收件人姓名">
            <hr>
            <div class="row">
                <div class="col-md-6">


                    <span>選擇取貨方式 : </span> <input type="radio" name="r1"> <span>宅配</span>
                    <br><br>
                    <span>收件地址 :</span>
                    <select name="" id="">
                        <option value="">請選擇縣市</option>
                    </select>
                    <br><br>
                    <span>地址:</span> &nbsp; <input type="text" name="" id="" value="請輸入地址" style="width: 300px;">

                </div>
                <div class="col-md-6">


                    <input type="radio" name="r1"> <span>超商取貨(7-11)</span>
                    <br><br>
                    <span>收件地址 :</span>
                    <select name="" id="">
                        <option value="">請選擇門市</option>
                    </select>
                    <br><br>
                    <input type="text" name="" id="" value="超商地址" style="width: 300px; color: rgb(139, 140, 140);" readonly>

                </div>
            </div>

            <hr>

        </div>
        <div class="card-footer" style="height: 70px;">


        </div>
    </div>

    <br><br>
    <!-- =============================================== 3 =================================================== -->


    <div class="card" style="width: 100%;">
        <div class="card-header">3.付款方式</div>
        <div class="card-body">
            <span>選擇付款方式: &nbsp;</span>
            <input type="radio" name="r2"> <span>信用卡</span> &nbsp;
            <input type="radio" name="r2"> <span>貨到付款</span>
            <hr>

            <div>
                <span>信用卡 / 金融卡</span> <br><br>
                <span>卡片詳情</span> <br>
                <input type="text" name="" id="" value="信用卡號碼" style="width: 500px; color: rgb(139, 140, 140);"> <br><br>
                <input type="text" name="" id="" value="到期日(MM/YY)" style="width: 300px; color: rgb(139, 140, 140);">
                <input type="text" name="" id="" value="安全驗證碼" style="width: 196px; color: rgb(139, 140, 140);">
                <br><br>
                <input type="text" name="" id="" value="持卡者名字" style="width: 500px; color: rgb(139, 140, 140);">
                <br><br>
                <span>帳單地址</span><br>
                <input type="text" name="" id="" value="帳單地址" style="width: 500px; color: rgb(139, 140, 140);"> <br><br>
                <input type="text" name="" id="" value="郵遞區號" style="width: 500px; color: rgb(139, 140, 140);">
                <br><br>
            </div>
        </div>

        <div class="card-footer" style="height: 70px;" " >


        </div>
    </div>

    <br>
    <div style=" text-align: end;">
        <button type="button" class="btn btn-dark" style="margin-top: 10px; margin-right: 20px; width: 200px; border-radius: 25px;">送出訂單</button>
    </div>


</div>