@model Medical.Models.Review

@{
    ViewData["Title"] = "createReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>createReview</h1>

<h4>AddReviewViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="createReview">
            <input type="hidden" name="ProductId" value="@Model.ProductId" />
            <input type="hidden" name="MemberId" value="@Model.MemberId" />
            <input type="hidden" name="CreateDate" value="@DateTime.Now.ToString("yyyyMMddHHmmss")" />
            <div class="col-12 col-sm-6">
                <select name="RatingTypeId" value="@Model.RatingTypeId" id="selectDepartments " class="form-select bg-light border-0" style="height: 55px;">
                    <option selected>選擇評分</option>
                    <option id="opt1" value="1">1</option>
                    <option id="opt2" value="2">2</option>
                    <option id="opt3" value="3">3</option>
                    <option id="opt3" value="4">4</option>
                    <option id="opt3" value="5">5</option>
                </select>
            </div>
            @*<textarea name="CommentContent" value="@Model.CommentContent" maxlength="300"></textarea>*@
            <div class="mb-3">
                <label for="message-text" class="col-form-label">評論</label>
                <textarea name="CommentContent" value="@Model.CommentContent" class="form-control" id="message-text"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@{
    <script>


    </script>
 }