@model IEnumerable<Medical.ViewModels.RatingDoctoeViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}

<h1>評論修改</h1>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                醫生
            </th>
            <th>
                評分分數
            </th>
            <th>
                評語
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor.DoctorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RatingTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id = item.ratingDoctor.RatingDoctorId }) |
                        @Html.ActionLink("刪除", "Delete", "RatingDoctor", new { id = item.ratingDoctor.RatingDoctorId },
                                new { onclick = "return confirm('確定要刪除嗎 ? ')" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
